node_modules/
.nuxt/
.output/
vendor/
.venv/
.ptmp/
var/
__pycache__/
*.pyc
.pytest_cache/
*.sqlite3
.env
.DS_Store
*.pdf
*.jpeg
*.jpg
*.png
services/analytics/.tmp/
*.sqlite
apps/api/storage/framework/views/
apps/api/bootstrap/cache/
